* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
	/* background-color: blueviolet;
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333; */

    background-color: blueviolet;
    padding: 20px;
    width: 100%; /* Ensures the header fills the full width */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px #333;
    position: relative;
}

.menu-icon {
    display: none; /* Hide menu-icon by default */
    color: #fff;
    background-color: #fff;
}

header,
main {
	margin: 0 auto;
}

#menu::before {
	content: "≡";
}

#menu.open::before {
	content: "❎";
}  
nav {
    background-color: blueviolet;
    display: flex;
    flex-direction: column
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    width: 100%; /* Full width for links */
}

.open a {
	display: block;
}


h1 {
	font-size: 2rem;
    color: #eee;
}

nav a:hover {
	text-decoration: underline double;
}


/* .img{
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
} */

.img {
    display: grid;
    /* justify-content: center;
    align-items: center; */
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.figcaption{
	padding: 2rem;
}

   

.hamburger {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
     /* Position the icon absolutely */
    top: 10px; /* Adjust this value to place it closer/farther from the top */
    right: 40px; /* Adjust this value to place it closer/farther from the right */
    /* z-index: 1000; */
}
h2{
    text-align: center;
}

.navigation {
    display: none; /* Hide navigation links by default */
}

.navigation.open {
    display: flex; /* Show navigation links when 'open' class is added */
    flex-direction: column;
}

footer{
    background: var(--primary-color);
    text-align: center;
    color: #eee;
    padding: 2px;
    background-color: blueviolet;
}