* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Larger Views ******************************/
@media (min-width: 768px) {

	body{
		max-width: 900px;
		margin: 0 auto;
	}
    
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
        width: 100%; /* Full width for links */
	}
	
	nav {
		justify-content: flex-end;
		flex-direction: row;
		height: 40px;

	}
	nav a {
		flex: 1 1 100%;
        text-align: center;
        padding: 10px 20px;
	}

	nav ul {
			display: flex;
			justify-content: center;

		}

	.figcaption{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 35px;
		place-items: center;
	}

	img{ 
		width: 90%; 
		height: 100%;
		margin: 0;
	}

	
	.gallery {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	.hamburger {
		display: none; /* Hidden in larger screens */
	}

	.navigation {
		display: flex; /* Always show navigation links */
		flex-direction: row; /* Horizontal layout for links */
	}
}